@import "../../scss/colors";

.input {
  display: inline-block;
  position: relative;
  margin-right: 15px;

  &--error .input__text {
    border-color: $color-error;
  }
}

.input__label {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  color: $color-service;
  display: block;
  padding-bottom: 22px;
}

.input__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: black;
  background-color: transparent;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;

  width: 390px;
  padding: 15px 15px 15px 26px;
  border: 1px $color-service solid;
}

.input:hover .input__text,
.input:focus .input__text {
  border-color: $color-main;
}
