@import "../../scss/colors";
@import "../../scss/mixins";

.tab-content {
  @include flex-row-center;
  justify-content: space-around;
  position: relative;
  min-height: 380px;
  margin: 0 auto;
  padding: 15px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 410px;
  }
}

.tab-content__button {
  @include button;
}

.tab-content__title {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 34px;
  color: $color-service;
}

.tab-content__desc {
  display: block;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  padding-top: 10px;
}

.tab-content__left {
  z-index: 10;

  @media (min-width: $tablet-width) {
    max-width: 355px;
  }

  @media (min-width: $desktop-width) {
    max-width: 400px;
  }
}

.tab-content__right {
  align-self: flex-end;

  @media (max-width: $mobile-width-only) {
    height: 113px;
    width: 87px;
    position: absolute;
    right: -20px;
    top: 25%;
    z-index: 1;
  }
}

.tab-content__img {
  width: auto;
  object-fit: cover;

  @media (max-width: $mobile-width-only) {
    height: 100%;
    object-position: 50%;
  }

  @media (min-width: $tablet-width) {
    height: 260px;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

.tab-content__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 40px;
}

.tab-content__item {
  display: flex;
  flex-direction: column;

  font-size: 18px;
  line-height: 23px;
  font-weight: 400;

  padding-bottom: 8px;
  padding-top: 8px;
}
