@import "../../scss/colors";
@import "../../scss/const-width";
@import "../../scss/mixins";

.menu {
  @include flex-row-center;
  max-width: 735px;
  min-width: 135px;
  flex-direction: column;

  @media (max-width: $mobile-width-only) {
    justify-content: flex-start;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  &--column {
    flex-direction: column;
    flex-wrap: nowrap;
    font-weight: 500;
    max-width: 195px;
  }

  &--column .menu__item {
    padding: 5px 14px;
  }

  &--column .menu__item--only-footer {
    display: flex;
  }

  &--column .menu__item--only-header {
    display: none;
  }

  &--closed {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }
}

.menu__item--only-footer {
  display: none;
}

.menu__item {
  padding: 10px 12.5px;

  @media (max-width: $mobile-width-only) {
    width: 100%;
    padding-left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px rgba($color-service--lighten, 0.4) solid;
  }

  @media (min-width: $tablet-width) {
    &:first-child {
      margin-left: 0;
    }
  }
}

.menu__link {
  text-decoration: none;
  color: $color-service;

  &--active {
    color: $color-main;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}
