.suggest {
  background-color: $color-service--lightest;
  padding: 55px;

  @media (min-width: $desktop-width) {
    margin-left: 70px;
    padding: 60px 60px 60px 70px;
  }
}

.suggest__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.suggest__wrapper p {
  width: 100%;
  max-width: 320px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    min-width: 190px;
  }
}

.suggest__top,
.suggest__bottom {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.suggest__result {
  flex-grow: 1;
  padding: 5px 5px 23px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;

  &:first-child {
    @media (min-width: $tablet-width) {
      padding-right: 10px;
    }
  }
}

.suggest__button {
  min-width: 100%;
}

.suggest__desc {
  display: block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $color-service--light;
}
