@import "../../scss/const-width";
@import "../../scss/colors";

.tabs {
  margin-bottom: 40px;

  position: relative;
  min-width: 320px;

  @media (min-width: $tablet-width) {
  }

  @media (min-width: $desktop-width) {
    padding: 0 98px;
    max-width: 1366px;
    min-width: $desktop-width;
    margin: 0 auto 100px;
  }
}

.tabs__content {
  background-color: $color-service--lightest;
  padding: 0 30px;

  @media (max-width: $mobile-width-only) {
    min-height: 462px;
  }

  @media (max-width: $tablet-width-only) {
    min-height: 480px;
  }
}

.tabs__wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.tabs__indicators {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
