@import "../../scss/mixins";

.calculator {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.calculator__summary {
  align-self: center;
  background-color: $color-service--lightest;

  @media (max-width: $tablet-width-only) {
    width: 100%;
    background-color: transparent;
  }
}

.calculator__title {
  @include title;
  margin-bottom: 30px;

  @media (max-width: $mobile-width-only) {
    padding: 0 15px;
  }
}

.calculator__success {
  @media (max-width: $mobile-width-only) {
    margin: 0 15px;
  }
}
