@import "../../scss/colors";

.select {
  display: inline-block;
  position: relative;
  height: 60px;
  color: $color-service;
  background-color: transparent;
  border-radius: 4px;

  width: 600px;
  padding: 10.5px;
  border: 1px $color-service solid;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $color-main;
  }
}

.select__option {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  &--title {
    font-weight: 500;
  }
}
