.summary {
  min-width: 770px;
  padding: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    min-width: 100%;
    padding: 0;
  }
}

.summary__submit {
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    min-width: 100%;
  }
}

.summary__group {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
  }
}

.summary__group .summary__input:first-child {
  margin-right: 5px;

  @media (max-width: $mobile-width-only) {
    margin-right: 0;
  }
}

.summary__group .summary__input:last-child {
  margin-left: 5px;

  @media (max-width: $mobile-width-only) {
    margin-left: 0;
  }
}

.summary__input {
  width: 100%;
  flex-grow: 1;
}

.summary__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-grow: 1;
  width: 100%;
}

.list__item {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;

  font-size: 16px;
  line-height: 21px;
  font-weight: 400;

  padding-top: 20px;
  padding-bottom: 8px;
  border-bottom: 1px rgba($color-service--lighten, 0.4) solid;

  @media (max-width: $mobile-width-only) {
    flex-direction: column-reverse;
  }
}

.item__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $color-service--light;
}

.item__value {
  @include title;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}
