@import "../../scss/colors";
@import "../../scss/mixins";

.preview {
  background: $color-service--lightest;
  background: linear-gradient(180.24deg, $color-service--lightest 36.31%, $color-service--lighten 99.79%);
  z-index: 10;
  position: relative;
  margin: 0 auto;
  min-height: 226px;

  @media (min-width: $tablet-width) {
    min-height: 300px;
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
  }

  &--light {
    background: $color-main;
    background: linear-gradient(180.24deg, $color-main 36.31%, $color-main--dark 99.79%);
  }
}

.preview__button {
  @include button;

  &--light {
    @include button-outline;
  }
}

.preview__title {
  @include title;
  font-size: 38px;
  line-height: 44px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 64px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
  }

    &--light {
    color: $color-service--lightest;
  }
}

.preview__subtitle {
  display: block;
  font-size: 16px;
  line-height: 18px;
  padding-top: 20px;
  font-weight: 400;

  @media (max-width: $mobile-width-only) {
    max-width: 210px;
  }

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 25px;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
  }
}

.preview__left {
  position: relative;
  z-index: 15;
  margin-left: 15px;
  padding-top: 18px;

  @media (min-width: $tablet-width) {
    margin-left: 86px;
    padding-top: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 270px;
    padding-top: 115px;
  }
}

.preview__right {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: auto;
  z-index: 1;
}

.preview__img {
  height: 100%;
  object-fit: cover;

  @media (max-width: $mobile-width-only) {
    object-position: 60%;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}
