@import "../../scss/colors";
@import "../../scss/mixins";

.preview {
  background: $color-service--lightest;
  background: linear-gradient(180.24deg, $color-service--lightest 36.31%, $color-service--lighten 99.79%);
  z-index: 10;
  position: relative;
  min-height: 400px;
  margin: 0 auto;

  &--light {
    background: $color-main;
    background: linear-gradient(180.24deg, $color-main 36.31%, $color-main--dark 99.79%);
  }
}

.preview__button {
  @include button;

  &--light {
    @include button-outline;
  }
}

.preview__title {
  font-size: 54px;
  line-height: 64px;
  font-weight: 700;
  margin-bottom: 34px;
  color: $color-service;

  &--light {
    color: $color-service--lightest;
  }
}

.preview__subtitle {
  display: block;
  font-size: 22px;
  line-height: 25px;
  font-weight: 400;
  padding-top: 10px;
}

.preview__left {
  position: relative;
  margin-left: 270px;
  padding-top: 115px;
  z-index: 15;
}

.preview__right {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: auto;
  z-index: 1;
}

.preview__img {
  height: 100%;
  width: auto;
}
